<a
  class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg inline-flex items-center text-sm px-3 py-2 dark:bg-transparent dark:text-white dark:border-[#212121] dark:hover:bg-[#1e1e1eb6] dark:hover:border-gray-600 dark:focus:ring-gray-700 cursor-pointer"
  {...Astro.props}
  target="_blank"
  rel=" noopener noreferrer"
>
  <slot />
</a>
