---
import Dark from "./icons/Dark.astro";
import Light from "./icons/Light.astro";

---

<button id="toggleThemeBtn">
  <!-- {isDarkTheme ? <Light id="LightMode" class=" " /> : <Dark id="DarkMode" class=" " />} -->
  <Light id="LightMode" class="" />
  <Dark id="DarkMode" class="hidden" />
</button>
