---
import LenguageSelector from "@/components/LenguageSelector.astro";
import { getI18N } from "@/i18n/index";
import DarkMode from "./DarkMode.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<header class="flex items-center justify-center my-4 py-5 sticky top-0 z-10 px-2">
  <nav
    class="flex justify-center flex-row gap-x-4 lg:gap-x-10 rounded-full bg-black/50 dark:bg-black/50
    backdrop-blur-2xl py-1 px-8 text-xs flex-wrap"
  >
    <a class="text__glowing border-b-2 border-transparent text-white" href="#Project"
      >{i18n.HEADER_PROJECTO}</a
    >
    <a class="text__glowing border-b-2 border-transparent text-white" href="#AboutUs"
      >{i18n.HEADER_SOBRE}</a
    >
    <a class="text__glowing border-b-2 border-transparent text-white" href="#Contact"
      >{i18n.HEADER_CONTACTO}</a
    >
    <LenguageSelector />
    <DarkMode />
  </nav>
</header>

<style>
  .text__glowing {
    transition: text-shadow 0.3s ease;
  }
  .text__glowing:hover {
    text-shadow:
      0 0 10px #fff,
      0 0 10px #fff,
      0 0 0px #fff,
      0 0 0px #fff,
      0 0 1px #fff;
  }
</style>
