---
import JSIcon from "@/components/icons/Js.astro";
import TailwindIcon from "@/components/icons/Tailwind.astro";
import ReactIcon from "@/components/icons/React.astro";
import ASTROIcon from "@/components/icons/Astros.astro";
import NextjsIcon from "@/components/icons/Nextjs.astro";
import FirebaseIcon from "@/components/icons/Firebase.astro";
import UbuntusIcon from "@/components/icons/Ubuntus.astro";
import GitIcon from "@/components/icons/Git.astro";

const SKILLS = {
  JS: {
    name: "Javascript",
    icon: JSIcon,
  },
  REACT: {
    name: "React",
    icon: ReactIcon,
  },
  ASTRO: {
    name: "Astro",
    icon: ASTROIcon,
  },
  TAILWIND: {
    name: "Tailwind",
    icon: TailwindIcon,
  },
  NEXTJS: {
    name: "Next.js",
    icon: NextjsIcon,
  },
  FIREBASE: {
    name: "Firebase",
    icon: FirebaseIcon,
  },
  UBUNTUS: {
    name: "Ubuntus",
    icon: UbuntusIcon,
  },
  GIT: {
    name: "Git",
    icon: GitIcon,
  },
};

const skillsArray = Object.values(SKILLS);
---

<div class="grid grid-cols-4 gap-3 mb-14">
  {
    skillsArray.map((skill, i) => (
      <div
        data-key={i}
        class="col-span-2 md:col-span-1 size-full flex items-center gap-2 p-4 border-[#212121] bg-gray-200 dark:bg-transparent border-2 rounded-2xl"
      >
        <p class="order-1 text-base text-black/80 dark:text-white/80">{skill.name}</p>
        {skill.icon && <skill.icon class="size-5" />}
      </div>
    ))
  }
</div>
