---
import "@fontsource-variable/onest";
import Header from "@/components/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale} class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-white dark:bg-[#0D0D0D89]">
    <Header />
    <slot />
  </body>
</html>

<script>
  const toggleThemeBtn = document.getElementById("toggleThemeBtn");
  const LightMode = document.getElementById("LightMode");
  const DarkMode = document.getElementById("DarkMode");
  const html = document.querySelector("html");

  function toggleTheme() {
    if (html!.classList.contains("white")) {
      html!.classList.remove("white");
      html!.classList.add("dark");
    } else if (html!.classList.contains("dark")) {
      html!.classList.remove("dark");
      html!.classList.add("white");
    }
    toggleIcon();
  }

  function toggleIcon() {
    DarkMode!.classList.toggle("hidden", html!.classList.contains("dark"));
    LightMode!.classList.toggle("hidden", html!.classList.contains("white"));
  }

  toggleThemeBtn!.addEventListener("click", toggleTheme);
</script>

<style is:global>
  :root {
    color-scheme: light Dark;
  }
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  :is(.dark .dark\:bg-\[\#0D0D0D89\]) {
    background-color: #0D0D0D;
  }
</style>
